

@{
    Layout = "_Layout";
}

<h1 class="maintitles">All State Parks</h1>

<ol>
    @foreach (StatePark statePark in Model)
    {
            <p class="subheadings">Name</p>
            <p class="bodies">@statePark.Name</p>
            <p class="subheadings">State</p>
            <p class="bodies">@statePark.State</p>
            <p class="subheadings">Region</p>
            <p class="bodies">@statePark.Region</p>
            <p class="subheadings">Camping</p>
            <p class="bodies">@statePark.Camping</p>
            <p class="subheadings">Description</p>
            <p class="bodies">@statePark.Description</p>
        <a href="/StateParks/Details/@(statePark.Id)">
            <p class="modelobjectlinks">View Details</p>
        </a>
        <br>
    }
</ol>

<a class="bottomlinks" href="/StateParks/Create/">
    <p>Create</p>
</a>
<a class="bottomlinks" href="/Home/Index/">
    <p>Home Page</p>
</a>